<style>
/* SERIF FONTS */
.athelas, .georgia, .garamond, .baskerville, .calisto, .serif {
	font-family: 'Quicksand', sans-serif;
}

/* SANS SERIF FONTS */
.helvetica, .avenir, .sans-serif {
	font-family: 'Quicksand', sans-serif;
}

/* CODE FONTS */
.code, .courier  {
}

/* TOC */
#TableOfContents ul { 
  list-style-type: none; 
  padding: 0;
}

#TableOfContents li {
  margin: 1em 0 0 .5em;
}

#TableOfContents ul a { 
  text-decoration: inherit;
  color: inherit;
}

a {
  text-decoration-style: dotted;
}

/* Tables */
table {
  margin: auto
}

table tr {
  text-align: center;
}

table th {
  padding: 1em .5em;
}

table td {
  padding: 0em .5em;
}

table tr:nth-child(odd) {
  background-color: #eee;
}

table tr:nth-child(even) {
  background-color: #f1f1f1;
}

table tr th {
  background-color: #ddd;
}

/* Dropdown */
select {
  margin: .5em;
  padding: .2em;
	font-family: 'Quicksand', sans-serif;
  font-size: 14pt;
}

/* Fancybox backgtound color */
.fancybox-bg {
  background: #eee;
}

.fancybox-thumbs__list a {
  background-color: rgba(244, 244, 244, 0.5);
}

/* TOGGLE SWITCH */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FFB700;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
</style>
