<h2 id="comments">Vragen en reacties 🙋</h2>
<p>
Heb je een vraag over deze les? Of heb je een foutje opgemerkt? Laat het ons hieronder weten!
</p>
<p class="silver">
<b>TIP:</b> Je kan anoniem reageren door het vakje "Mijn naam niet tonen" aan te vinken.
</p>

<div id="commento"></div>
<script defer
  src="https://commento.hoezithet.nu/js/commento.js"
  data-no-fonts="true"
  data-css-override="/css/commento.css">
</script>
<script defer>
  $("body").on("DOMSubtreeModified", "#commento", function() {
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,"commento"]);
  });
</script>
