Hoe <b>duidelijk</b> vond je deze les?<br>

<div class="pa2 flex flex-row justify-center">
  {{ $imgs := slice "/images/lamp_broken.png" "/images/lamp_off.png" "/images/lamp_on.png" }}
  {{ $texts := slice "<b>Niet</b> duidelijk" "OK" "<b>Heel</b> duidelijk" }}
  {{ $ids := slice "feedback_neg" "feedback_neutr" "feedback_pos" }}

  {{ range $idx, $img := $imgs }}
    <div id="{{ index $ids $idx }}" class="flex flex-column items-center tc ma4 dim pointer">
      <div class="bg-black-05 pa2 ma1 br-100">
        <img class="w-50" src="{{ $img }}"/>
      </div>
      <div id="{{ index $ids $idx }}_msg">
        {{ ( index $texts $idx ) | safeHTML }}
      </div>
    </div>
  {{ end }}
</div>

<script>
  $(document).ready(function(){
    {{ range $id := $ids }}
    $({{ print "#" $id }}).click(function() {
      var cont = $({{ print "#" $id "_msg" }}).contents();
    });
    {{ end }}
  });
</script>

<h2 id="comments">Vragen en reacties</h2>
<div id="commento"></div>
<script defer
  src="https://commento.hoezithet.nu/js/commento.js"
  data-no-fonts="true"
  data-css-override="/css/commento.css">
</script>
<script defer>
  $("body").on("DOMSubtreeModified", "#commento", function() {
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,"commento"]);
  });
</script>
