<div class="mt5 f4 br3 gray nested-lh-copy bg-light-gray ph3 pv2 measure-wide-l">
  <ul class="list dib ml0 pl0">
    {{ with .NextInSection }}
      <li class="black dib mb2 mr2">
        <a href="{{ .Permalink }}" class="link mid-gray dim">
        👉 Volgende les:
          {{ .Title }}
        </a>
      </li>
    {{end}}
    {{ with .PrevInSection }}
      <li class="black dib mb2 mr2">
        <a href="{{ .Permalink }}" class="link mid-gray dim">
        👈 Vorige les:
          {{ .Title }}
        </a>
      </li>
    {{end}}
  </ul>
</div>
