<div onclick="window.location='{{ .URL }}';" class="grow shadow-hover relative w-100 mb1 contain bg-center o-90" style="background-image: url('{{ .Params.title_img | default "" }}');">

	<div class="{{ .Params.bg_class | default "bg-black" }} o-90 pa1"/>
		<h1 class="f3" style="text-shadow: 1px 1px rgba(0,0,0,0.3);">
			<a href="{{ .URL }}" class="link near-white"/>
				{{ .Title }}
			</a>
		</h1>
	</div>
</div>

{{ $section := .Pages }}
{{ $n_posts := $.Param "recent_posts_number" | default 3 }}

<section class="w-100 mw8">
	{{/* Range through the first $n_posts items of the section */}}
	{{ range (first $n_posts $section) }}
	<div class="relative w-100 mb4">
		{{ .Render "summary-with-image" }}
	</div>
	{{ end }}
</section>
