/* SERIF FONTS */
.athelas, .georgia, .garamond, .baskerville, .calisto, .serif {
	font-family: 'Quicksand', sans-serif;
}

/* SANS SERIF FONTS */
.helvetica, .avenir, .sans-serif {
	font-family: 'Quicksand', sans-serif;
}

/* CODE FONTS */
.code, .courier  {
}

/* TOC */
#TableOfContents ul { 
  list-style-type: none; 
  padding: 0;
}

#TableOfContents li {
  margin: 1em 0 0 .5em;
}

#TableOfContents ul a { 
  text-decoration: inherit;
  color: inherit;
}

/* Don't underline links */
a {
  text-decoration: none;
}

/* Tables */
table {
  margin: auto
}

table tr {
  text-align: center;
}

table th {
  padding: 0em 1em;
}

table tr:nth-child(odd) {
  background-color: #eee;
}
