/* SERIF FONTS */
.athelas, .georgia, .garamond, .baskerville, .calisto, .serif {
	font-family: 'Quicksand', sans-serif;
}

/* SANS SERIF FONTS */
.helvetica, .avenir, .sans-serif {
	font-family: 'Quicksand', sans-serif;
}

/* CODE FONTS */
.code, .courier  {
}

/* TOC */
#TableOfContents ul { 
  list-style-type: none; 
  padding: 0;
}

#TableOfContents li {
  margin: 1em 0 0 .5em;
}

#TableOfContents ul a { 
  text-decoration: inherit;
  color: inherit;
}

a {
  text-decoration-style: dotted;
}

/* Tables */
table {
  margin: auto
}

table tr {
  text-align: center;
}

table th {
  padding: 1em .5em;
}

table td {
  padding: 0em .5em;
}

table tr:nth-child(odd) {
  background-color: #eee;
}

table tr:nth-child(even) {
  background-color: #f1f1f1;
}

table tr th {
  background-color: #ddd;
}

/* Dropdown */
select {
  margin: .5em;
  padding: .2em;
	font-family: 'Quicksand', sans-serif;
  font-size: 14pt;
}
