<section class="center w-100 mw8">

  <div class="">
    <div class="dib f4 mid-gray"><i class="fas fa-filter"></i></div>
    <div class="w-100 w-25-l dib">{{ .Render "select_course" }}</div>
    <div class="w-100 w-25-l dib">{{ .Render "select_level" }}</div>
    <div class="w-100 w-25-l dib">{{ .Render "select_topic" }}</div>
  </div>

  {{ .Render "on_filter" }}

  {{ range .Sections.ByTitle }}
  <div class="course-blocks course-{{ replace (.Title | lower) " " "-" }}">
    <a class="link" href="{{ .URL }}"><h1 class="mid-gray dim pointer">{{ .Title }}</h1></a>
    <div class="course-empty-notice" style="display:none">
      (Geen resultaten voor de gekozen filter)
    </div>
    <div class="flex-ns flex-wrap justify-left center w-100 mw8">
      {{ range ( .Sections.GroupByParam "level" ) }}
        {{ range ( .Pages.GroupByParam "topic" ) }}
          {{ range .Pages.ByWeight }}
            {{ .Render "subject_block" }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ end }}
</section>
