<script>
function onFilter() {
  if(typeof $( "#select-course" )[0] !== 'undefined') {
    var course_idx = $( "#select-course" )[0].selectedIndex;
    course_filters = [];
    if(course_idx != 0) {
      course_filters.push($( "#select-course :selected" ).val());
    }

    // Hide courses that are not selected
    $(".course-blocks").each(function() {
      $(this).show();
      if(!course_filters.every(f => $(this).attr('class').includes(f))) {
      $(this).hide();
    }
  });

  }
  var level_idx = $( "#select-level" )[0].selectedIndex;
  var topic_idx = $( "#select-topic" )[0].selectedIndex;

  subject_filters = [];
  if(level_idx != 0) {
    subject_filters.push($( "#select-level :selected" ).val());
  }
  if(topic_idx != 0) {
    subject_filters.push($( "#select-topic :selected" ).val());
  }

  // Hide subject blocks that don't belong to the selected filters
  $(".subject-block").each(function() {
    $(this).show();
    if(!subject_filters.every(f => $(this).attr('class').includes(f))) {
      $(this).hide();
    }
  });

  // If nothing is shown for a course,
  // notify the user
  $(".course-blocks").each(function() {
    var len = $(this).find(".subject-block:visible").length;
    if (len == 0) {
      $(this).find(".course-empty-notice").show();
    } else {
      $(this).find(".course-empty-notice").hide();
    }
  });

  // Iterate over all visible course blocks and hide in the select if
  var all_block_classes = $(".subject-block:visible").map(function() {
    return $(this).attr('class')
  });
  all_block_classes = Object.values(all_block_classes).join(' ');
  $("[id^=select-]").each(function() {
    if($(this)[0].selectedIndex == 0) {
      var len = this.options.length;
      for (var i=1; i < len; i++) {
        $(this.options[i]).show();
        if(!all_block_classes.includes(this.options[i].value)) {
          $(this.options[i]).hide();
        }
      }
    }
  });
}

$( "#select-topic" ).change(onFilter);
$( "#select-course" ).change(onFilter);
$( "#select-level" ).change(onFilter);
$(document).ready(onFilter);
</script>
