<script>
var filter_history = [];

function hideInapplicableOptions(sel){
  var all_block_classes = $(".subject-block:visible").toArray().map(block => block.className);
  all_block_classes = all_block_classes.join(' ');

  Object.values(sel).forEach(function(opt){
    $(opt).show();
    if(! all_block_classes.includes(opt.value) && opt.value !== 'all') {
      if(opt.selected) {
        // This selection is not compatible, reset the select to 'all'
        opt.parentNode.value = 'all';
        window.location.reload(false); 
      }
      $(opt).hide();
    }
  });
}

function updateFilterHistory() {
  $("select").each(function() {
    var idx = $( this )[0].selectedIndex;
    var option = this[idx];
    if(idx !== 0) {
      if(!filter_history.map(o => o.parentNode).includes(option.parentNode)){
          filter_history.push(option);
      } else {
        filter_history = filter_history.map(o => o.parentNode == option.parentNode ? option : o);
      }
    } else {
        filter_history = filter_history.filter(o => o.parentNode != option.parentNode );
    }
  });
}

function hideIrrelevantBlocks() {
  $(".subject-block").each(function() {$(this).show();});
  filter_history.forEach(function(filt, idx) {
    // Hide irrelevant subject blocks
    $(".subject-block").each(function() {
      if(! this.className.includes(filt.value)
         && filt.value !== 'all') {
        $(this).hide();
      }
    });

    // Hide inapplicable options in selects of later history
    if(filter_history.length > idx + 1) {
      filter_history
        .map(o => o.parentNode)
        .slice(idx + 1)
        .forEach(hideInapplicableOptions);
    } 
  });
}

function updateUnfilteredSelects() {
  $("select").toArray()
    .filter(sel => !filter_history.map(o => o.parentNode).includes(sel))
    .forEach(hideInapplicableOptions);
}

function hideEmptyCourses() {
  $(".course-title").each(function() {
    $(this).show();
    var len = $(this.parentNode).find(".subject-block:visible").length;
    if (len == 0) {
      $(this).hide();
    }
  });
}

function onFilter() {
  updateFilterHistory();
  hideIrrelevantBlocks();
  updateUnfilteredSelects();
  hideEmptyCourses();
}

$( "#select-topic" ).change(onFilter);
$( "#select-course" ).change(onFilter);
$( "#select-level" ).change(onFilter);
$(document).ready(onFilter);
</script>
