{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height nested-img">
  {{ with .Content }}
  <main class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
  {{ . }}
  </main>
  {{ end }}

<section class="center w-100 mw8">
  {{ if gt (len .Sections) 0 }}
    {{ if gt (len (index .Sections 0).Sections) 0 }}
      {{ .Render "all_lessen" }}
    {{ else }}
      {{ .Render "course_lessen" }}
    {{ end }}
  {{ else }}
    {{ .Render "subject_lessen" }}
  {{ end }}
</section>
</article>
{{ end }}
