{{ define "header" }}
  {{ if eq (len .Sections) 0 }}
    {{/* Subject lessen */}}
    {{ $.Scratch.Set "stroke" ($.Params.section_color | default "#000") }}
  {{ end }}

  {{ partial "header/site-header.html" . }}
{{ end }}

{{ define "mathjax" }} {{ partial "head/mathjax" . }} {{ end }}

{{ define "fancybox" }} {{ partial "head/fancybox" . }} {{ end }}

{{ define "main" }}
<section class="mw8 center ph3">
  {{ if gt (len .Sections) 0 }}
    {{ if gt (len (index .Sections 0).Sections) 0 }}
      {{ .Render "all_lessen" }}
    {{ else }}
      {{ .Render "course_lessen" }}
    {{ end }}
  {{ else }}
    {{ .Render "subject_lessen" }}
  {{ end }}
</section>
{{ end }}
