<div
  class="w-100 w-30-ns ph2">

	<div
    style="background-color: {{ .Params.section_color | default ($.Scratch.Get "stroke") | default .Site.Params.default_stroke }};"/>
		<h1 class="f3 pa2 near-white">
      {{ .Title }}
		</h1>
	</div>
  <ol>
    {{ range .Pages.ByWeight }}
    <li
      style="color: {{ $.Params.section_color | default ($.Scratch.Get "stroke") | default $.Site.Params.default_stroke }};"
      class="f4 dim">
      <a href="{{ .URL }}"
        style="color: inherit">
        {{ .Title }}
      </a>
    </li>
    {{ end }}
  </ol>
</div>
