{{ $options := slice }}

{{ range .Sections.ByTitle }}
  {{ $options = $options | append .Title }}
{{ end }}

{{ $options = $options | uniq | sort }}
<select id="select-course" class="w-100">
  <option value="all">Alle vakken</option>
  {{ range $options }}
  <option value="course-{{ replace (. | lower) " " "-" }}">
  {{ . }}
  </option>
  {{ end }}
</select>

<script>
function updateCourses(){
  var idx = $( "#select-course" )[0].selectedIndex;
  if(idx == 0) {
    // Show all levels
    $(".course-blocks").each(function() {
      $(this).show();
    });
  } else {
    // Hide divs that aren't the selected level
    var el = $( "#select-course :selected" );
    $(".course-blocks").each(function() {
      $(this).show();
      if(! $(this).attr('class').includes(el.val())) {
        $(this).hide();
      }
    });
  }
}
$( "#select-course" ).change(updateCourses);
$(document).ready(updateCourses);
</script>
