{{ $options := slice "Alle jaren" }}

{{ if gt (len (index .Sections 0).Sections) 0 }}
  {{ range .Sections.ByWeight }}
    {{ range .Sections.ByWeight }}
      {{ $options = $options | append .Params.level }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ range .Sections.ByWeight }}
    {{ $options = $options | append .Params.level }}
  {{ end }}
{{ end }}

{{ $options = $options | uniq }}
<select id="select_level">
  {{ range $options }}
  <option value="level-{{ replace . " " "-" }}">{{ . }}</option>
  {{ end }}
</select>

<script>
function updateTopicBlocks(){
  var idx = $( "#select_level" )[0].selectedIndex;
  if(idx == 0) {
    // Show all levels
    $(".topic-block").each(function() {
      $(this).show()
    });
  } else {
    // Hide divs that aren't the selected level
    var el = $( "#select_level :selected" );
    $(".topic-block").each(function() {
      $(this).show()
      if(! $(this).attr('class').includes(el.val())) {
        $(this).hide()
      }
    });
  }
}
$( "#select_level" ).change(updateTopicBlocks);
$(document).ready(updateTopicBlocks);
</script>
