{{ $options := slice "Alle jaren" }}

{{ if gt (len (index .Sections 0).Sections) 0 }}
  {{ range .Sections.ByWeight }}
    {{ range .Sections.ByWeight }}
      {{ $options = $options | append .Params.level }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ range .Sections.ByWeight }}
    {{ $options = $options | append .Params.level }}
  {{ end }}
{{ end }}

{{ $options = $options | uniq }}
<select id="select-level">
  {{ range $options }}
  <option value="level-{{ replace . " " "-" }}">{{ . }}</option>
  {{ end }}
</select>

<script>
function updateTopicBlocks(){
  var idx = $( "#select-level" )[0].selectedIndex;
  if(idx == 0) {
    // Show all levels
    $(".topic-block").each(function() {
      $(this).show()
    });
  } else {
    // Hide divs that aren't the selected level
    var el = $( "#select-level :selected" );
    $(".topic-block").each(function() {
      $(this).show()
      if(! $(this).attr('class').includes(el.val())) {
        $(this).hide()
      }
    });
  }
  // If nothing is shown for a course,
  // notify the user
  $(".course-blocks").each(function() {
    var len = $(this).find(".topic-block:visible").length;
    if (len == 0) {
      $(this).find(".course-empty-notice").show();
    } else {
      $(this).find(".course-empty-notice").hide();
    }
  });
}

$( "#select-level" ).change(updateTopicBlocks);
$(document).ready(updateTopicBlocks);
</script>
