{{ define "header" }}
	{{ $.Scratch.Set "stroke" $.Parent.Params.section_color }}
  {{ partial "header/lessen-header.html" . }}
{{ end }}

{{ define "main" }}
  <div class="mw8 center ph3">
    <h1 class="f1" style="color: {{ $.Parent.Params.section_color }};">
      {{ .Title }}
    </h1>
    <div class="flex-l flex-row-reverse">
      <div class="w-third-l ph3-l">
        {{ partial "main/toc.html" . }}
      </div>
      <article class="center cf w-two-thirds-l">
        <section class="nested-copy-line-height lh-copy serif f4 nested-links nested-img mid-gray">
          {{ .Content }}
        </section>
        {{ partial "main/tags.html" . }}
      </article>
    </div>
  </div>
{{ end }}
