{{ define "header" }}
	{{ $.Scratch.Set "stroke" $.Parent.Params.section_color }}
{{ end }}
{{ define "main" }}
  <div class="mw8 center ph3 bg-white">
    <div class="flex-l flex-row-reverse">
      <article class="center cf w-two-thirds-l">
        <h1 class="f1" style="color: {{ $.Parent.Params.section_color }};">
          {{ .Title }}
        </h1>
        <section class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
          <p class="f5">Bron: <a href="{{ .Permalink }}">{{ .Permalink }}</a></p>
          {{ .Content }}
        </section>
      </article>
    </div>
    <div class="tc pv3 mid-gray">
      Meer op <a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>
    </div>
    {{ partial "footer/site-footer.html" . }}
  </div>
{{ end }}
{{ define "footer" }}
<div></div>
{{ end }}
