{{ define "header" }}
  <header>
    {{ partial "header/site-navigation.html" . }}
  </header>
{{ end }}

{{ define "mathjax" }} {{ partial "head/mathjax" . }} {{ end }}
{{ define "bokeh" }} {{ partial "head/bokeh" . }} {{ end }}
{{ define "fancybox" }} {{ partial "head/fancybox" . }} {{ end }}

{{ define "main" }}
<article class="mw8 center ph3">
  <h1 class="f1" style="color: {{ $.Parent.Params.section_color }};">
    {{ .Title }}
  </h1>
  {{ partial "main/save_pdf" . }}
  <div class="flex-l flex-row-reverse">
    <div class="w-third-l ph3-l mv2">
      {{ partial "main/toc.html" . }}
    </div>
    <article class="center cf w-two-thirds-l">
      <section class="nested-copy-line-height lh-copy nested-links">
        {{ .Content }}
        {{ partial "main/save_pdf" . }}
        {{ partial "main/feedback" . }}
        {{ partial "main/comments" . }}
        {{ partial "main/tags.html" . }}
        {{ partial "main/to-top.html" . }}
      </section>
    </article>
  </div>
</article>
{{ end }}
