{{ $sect_color := .Params.section_color | default ($.Scratch.Get "stroke") | default .Site.Params.default_stroke }}
<div
  class="w-100 w-30-l ma2 subject-block level-{{ replace .Params.level " " "-" | lower }} topic-{{ replace .Params.topic " " "-" | lower }} course-{{ replace .Parent.CurrentSection.Title " " "-" | lower }} ba br3" style="border-color: {{ $sect_color }}; overflow: hidden;">

	<div
  style="background-color: {{ $sect_color }};"/>
    <div class="f3 b pa2 near-white">
      {{ .Title }}
    </div>
	</div>
  <div class="bg-light-gray gray tr pa1">
    {{ .Params.level }}
  </div>
  <section class="center w-100 mw8">
    {{ .Render "subject_lessen" }}
  </section>
</div>
