{{ $sect_color := .Params.section_color | default ($.Scratch.Get "stroke") | default .Site.Params.default_stroke }}
<div
  class="w-100 w-30-l ma2 subject-block level-{{ replace .Params.level " " "-" | lower }} topic-{{ replace .Params.topic " " "-" | lower }} course-{{ replace .Parent.CurrentSection.Title " " "-" | lower }} ba br3" style="border-color: {{ $sect_color }}; overflow: hidden;">

  <a class="link" style="display:block" href="{{ .URL }}">
    <div
      class="dim pointer f3 b pa2 near-white"
      style="background-color: {{ $sect_color }};"/>
        {{ .Title }}
    </div>
  </a>
  <div class="bg-light-gray gray tr pa1">
    {{ .Params.level }}
  </div>
  <section class="center w-100 mw8">
    <ol>
  {{ range .Pages.ByWeight }}
  <li
    style="color: {{ $.Params.section_color | default ($.Scratch.Get "stroke") | default $.Site.Params.default_stroke }};"
    class="f4 dim">
    <a href="{{ .URL }}"
       style="color: inherit"
       class="link">
      {{ .Title }}
    </a>
  </li>
  {{ end }}
</ol>

  </section>
</div>
