<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Add Firebase -->
<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>

<!-- Add Firebase -->
<script type="text/javascript">
    var config = {
    apiKey: "AIzaSyBF3_SGcRHF_VlCN2O72W2n7LKJe2ZOwOM",
    authDomain: "hoe-zit-het.firebaseapp.com",
    databaseURL: "https://hoe-zit-het.firebaseio.com/",
    storageBucket: "hoe-zit-het.appspot.com"
  };
  firebase.initializeApp(config);

  // Get a reference to the database service
  var database = firebase.database();
</script>

<!-- Hit counter -->
<script type="text/javascript"/>
  // Use IP address ass value
    var newHitKey = firebase.database().ref().child('hits').push().key;

    var url = '{{ .URL }}'
    var currentdate = new Date();
    var updates = {};
    updates['hits/' + newHitKey] = {
      'time': currentdate.getTime(),
      'url': url
    };
    firebase.database().ref().update(updates);
</script>
