<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ "dist/app.bundle.js" | absURL }}" async></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$']],
    displayMath: [['$$','$$']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']},
  TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"],
         Macros: {
         green: '\\color{#19a974}',
         blue: '\\color{#357edd}',
         red: '\\color{#e7040f}',
         orange: '\\color{#ff6300}',
         dblue: '\\color{#00449e}',
         pink: '\\color{#d5008f}',
         grey: '\\color{#d3d3d3}',
         pos: '\\color{#19a974}',
         neg: '\\color{#e7040f}',
         neut: '\\color{#357edd}',
         atten: '\\color{#ff6300}',
         link: '\\color{#357edd}',
         clra: '\\color{#ff6300}',
         clrb: '\\color{#00449e}',
         clrc: '\\color{#d5008f}',
         clrd: '\\color{#e7040f}',
         clre: '\\color{#19a974}',
         mute: '\\color{#d3d3d3}'
         }
  },
  SVG: {
    scale: 90,
    font: "TeX"
  },
  styles: {
    ".MathJax_ref": {
      "fill": "#357edd"
    }
  }
});
</script>

<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-AMS-MML_SVG">
</script>
