<nav class="pv3" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.BaseURL }}" class="f3 fw7 dim no-underline black-90 dib">
      {{ .Site.Title }}
    </a>
    <div class="flex-l items-center">
      {{ if .Site.Menus.main }}
        <ul class="pl0 ml3">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib pl3">
            <a class="dim no-underline black-90" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name | lower }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partial "social-follow.html" . }}
    </div>
  </div>
</nav>
