{{ define "header" }}
{{ partial "header/site-navigation.html" . }}
{{ end }}

{{ define "main" }}
<article class="tc f4">
  <img src="/images/404.svg" alt="404" />
  <h1>Hier zit je niet goed...</h1>
  <p class="">De pagina die je zoekt, bestaat (nog) niet.<br>
    Stuur een mailtje naar
    <a href="mailto:info@hoezithet.net?subject=Ik mis een les">
      info@hoezithet.net
    </a>
    als je een les zocht die je er graag zo snel mogelijk bij hebt.</p>
  <div>Terug naar de <a href="javascript:history.back()">vorige pagina</a>!</div>
</article>
{{ end }}