{{ define "header" }}
<header>
  {{ partial "header/site-navigation.html" .}}
</header>
{{ end }}

{{ define "main" }}
<section class="tc relative">
  <div class="vh-50 w-90 center">
    {{ partial "landing/title_img.svg" . }}
  </div>
</section>
<section id="why" class="">
  <h2 class="tc fw1 f2 mh2">
    Waarom <span class="b nowrap">hoe zit het</span>?
  </h2>

  <div style="background-color: rgba(255, 183, 0, 0.25)"
    class="tc mid-gray cf">

    <a class="block" href="#why">
    <div style="width: 0; height: 0;
        border-top-width: 2rem;
        border-right-width: 3rem;
        border-left-width: 3rem;
        border-style: solid;
        border-color: rgba(244, 244, 244) transparent transparent transparent;
        animation-iteration-count: 3;"
        class="center mb2 grow pointer animated bounce delay-2s">
    </div>
    </a>
    <div class="cf center w-50-l f4">
    {{ $title := "Doelgericht" }}
    {{ $image := "/images/landing_page/archer.png" }}
    {{ $text := "Elke les is gericht op één onderwerp. Zo kan je gaatjes in je kennis snel opvullen, zonder omwegen." }}
    {{ partial "landing/block" (dict "title" $title "image" $image "text" $text) }}

    {{ $title := "Gratis" }}
    {{ $image := "/images/landing_page/free.png" }}
    {{ $text := "Omdat iedereen recht heeft op kennis, zijn alle lessen gratis. Voor vandaag. Voor morgen. Voor altijd." }}
    {{ partial "landing/block" (dict "title" $title "image" $image "text" $text) }}

    {{ $title := "Verteerbaar" }}
    {{ $image := "/images/landing_page/guts.png" }}
    {{ $text := "Niemand houdt van saai. Daarom zijn de lessen kort en vol illustraties die je helpen om alles in een handomdraai te begrijpen." }}
    {{ partial "landing/block" (dict "title" $title "image" $image "text" $text) }}
    </div>

    {{ range first 1 .Pages.ByPublishDate.Reverse }}
    <a class="link gold f3 fw9" href="{{ .Permalink }}">
    <div class="grow pointer tc center bg-near-white ba br3 bw2 b--gold w-25-l w-75-m w-90 mv4 pa2">
      Toon mij een voorbeeld!
    </div>
    </a>
    {{ end }}
  </div>
</section>

<section class="ph7 pv4 mid-gray cf f4">
  <h1>Voor leerlingen</h2>
  <img class="fl h4" src="/images/landing_page/student.png">
  <p class="fl pl5 w-50">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</section>

<section class="ph7 pv4 mid-gray cf f4" style="background-color: rgba(255, 183, 0, 0.25)">
  <h1>Voor leerkrachten</h2>
  <p class="fl pr5 w-50">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <img class="fl h4" src="/images/landing_page/teacher.png">
</section>

<section class="ph7 pv4 mid-gray cf f4">
  <h1>Meehelpen?</h2>
  <img class="fl h4" src="/images/landing_page/helping.png">
  <p class="fl pl5 w-50">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</section>
{{ end }}
