<header>
  {{ partial "header/site-navigation.html" .}}
	<div class="ph3 ph4-ns">
		<div class="tc">
      {{ if isset .Params "title_img" }}
        <img src="{{ .Params.title_img }}" class="w-30-l w-75-m w-100"/>
      {{ else }}
        <div class="w2 center">
          {{ partial "svg/svg_substitute" (dict "svg_file" "/images/lamp.svg" "new_color" ($.Scratch.Get "stroke" | default "#000000" ) ) }}
        </div>
        <div class="f1" style="color: {{ $.Scratch.Get "stroke" | default "#000000" }};">
          {{ .Title }}
        </div>
      {{ end }}
		</div>
	</div>
</header>
