<nav class="pv3" role="navigation">
  <div class="flex-ns justify-between items-center center">
		{{ partial "header/breadcrumbs.html" . }}
    <div class="flex-ns items-center">
      {{ if .Site.Menus.main }}
        <ul class="pl0 tc">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib pl3">
            <a class="dim no-underline black-90" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name | lower }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partial "social-follow.html" . }}
    </div>
  </div>
</nav>
