<nav class="pv3" role="navigation">
  <div class="flex-ns justify-between items-center center">
		{{ partial "header/breadcrumbs.html" . }}
    <div class="flex-ns items-center">
      {{ if .Site.Menus.main }}
        <ul class="pl0 tc">
          {{ range .Site.Menus.main }}
          <li class="list f3 fw4 dib ph1">
            {{ $.Scratch.Set "color" "black-20" }}
            {{ if (or (in $.Permalink .URL) ( $.IsHome )) }}
              {{ $.Scratch.Set "color" "mid-gray" }}
            {{ end }}
            <a class="dim no-underline {{ $.Scratch.Get "color" }}" href="{{ .URL }}" title="{{ .Name }}">
              {{ .Name | lower }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partial "social-follow.html" . }}
    </div>
  </div>
</nav>
