{{ $item := $.Page.Resources.GetMatch (.Get 0)}}
<p>{{ .Scratch.Get "test" }}</p>
<div id="{{ .Get 0 }}" class="pa2">
  <img src="{{ replace (.Get 0) ".json" ".png" }}">
  <script charset="utf-8" type="text/javascript">
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var item = JSON.parse(this.responseText);
        if(typeof Bokeh !== 'undefined') {
          document.getElementById("{{ .Get 0 }}").innerHTML = '';
          Bokeh.embed.embed_item(item, "{{ .Get 0 }}");
        }
      }
    };
    xmlhttp.open("GET", "{{ $item.RelPermalink }}", true);
    xmlhttp.send(); 
  </script>
</div>
